<div class="row">
  <h1>Dark Money</h1>
  <div class="col-md-6">
    <p>
      dark$ is a dynamic, sortable data visualization platform illustrating Members of Congress voting record and donor contributions d3.js
    </p>
  </div>

</div>