<footer class="footer">
<small>
©dark$ 2016
</small>
<nav>
<ul>
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Contact", '#' %></li>
<li><a href="https://pure-caverns-88278.herokuapp.com/">Heroku</a></li>
</ul>
</nav>
</footer>