<header class="navbar navbar-fixed-top">
  <div class="container">
  <%= link_to "Dark Money", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", '#' %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
</div>
</header>